body {
  text-align: center;
  background: linear-gradient(300deg, #32012F, #524C42, #F97300);
  background-size: 180% 180%;
  animation: gradient-animation 38s ease infinite;
  margin: 0;
  font-family: "Arvo", sans-serif;
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  color: #DBEDF3;
  text-shadow: 3px 0 yellow;
  margin: 20px 0;
}

h3 {
  color: #DBEDF3;
  text-shadow: 1px 0 yellow;
}

.box {
  margin: 50px;
}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
  margin: 50px;
}

.set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
}

.drum {
  outline: none;
  border: 5px solid #404B69;
  font-size: 2rem;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 80px;
  height: 80px;
  text-align: center;
  margin: 10px;
  background-color: white;
  background-size: cover;
}

.w {
  background-image: url('images/tom3.png');
}

.a {
  background-image: url('images/kick.png');
}

.s {
  background-image: url('images/tom2.png');
}

.d {
  background-image: url('images/snare.png');
}

.j {
  background-image: url('images/crash.png');
}

.k {
  background-image: url('images/tom1.png');
}

.l {
  background-image: url('images/tom4.png');
}

.h {
  background-image: url('images/crash.png');
}

.g {
  background-image: url('images/crash.png');
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

@media (min-width: 600px) {
  h1 {
    font-size: 5rem;
  }

  .drum {
    font-size: 3rem;
    width: 100px;
    height: 100px;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

